#ignore everything
*

#Gitignore
!.gitignore

!*/

#Verilog and VHDL files
!*.v
!*.sv
!*.vhd

#Constraint files
!*.ldf
!*.xdc

#Project files
!*.xpr
!*.lpf

*impl1/
*.sim/
*.runs/
*.ip_user_files/
*.hw/
*.cache/
*.gen/

#IP Config files
!*.xci

*clk_gen/
!*clk_gen/pll_1/pll_1.vhd


#Software
!*.hex
!*.srec
!*.c
!*.py

#